.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background: linear-gradient(to right, #8dc4b5, #3399cc, #045bfc);
}

.right {
  right: 0;
  background-color: #424242;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 48px;
  color: white;
  text-align: left;
  padding-bottom: 20px;
}

.brief_description {
  text-align: left;
  font-size: 20px;;
}

.profile_image {
  width: 500px;
  height: auto;
}

.profile_image {
  width: 500px;
  height: auto;
  transition: transform .2s;
  object-fit: cover;
}

.profile_image:hover {
  transform: scale(1.1);
}

.profile_image {
  width: 90%;
  height: 20%;
  max-height: 700px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4%;
  margin: 10px
}